.profile__main-container{
    display: flex;
    flex-direction: column;
    background-color: #EDCDBB;
    margin: -.5rem;
    margin-top: -1rem;
    min-height: 94.3vh;
    align-items: center;
    justify-content: center;
}

.profile__profile-container{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    min-height: 40vh;
    width: 40vh;
    background-color: #FFEDDB;
    border: solid #E3B7A0;
    text-align: center;
}