.event-card__main-container{
    display: flex;
    flex-direction: column;
    width: 40vh;
    height: 45vh;
    background-color: #FFEDDB;
    border: solid #E3B7A0;
    margin: 2rem;
}

.event-card__image{
    border-bottom: solid black;
}

.event-card__text-area{
    margin-left: .5rem;
}

.event-card__delete-button{
    display: flex;
    justify-content: flex-end;
}